<%- include('header') %>
    <div id="main-content">
      <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- post-container -->
                <div class="post-container">
                        <h2>No Post Found</h2>

                </div><!-- /post-container -->
            </div>
            <%- include('sidebar') %>
        </div>
      </div>
    </div>
<%- include('footer') %>
